html,
body {
  margin: 0;
  padding: 0;
}

a,
u {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

canvas {
  background-color: black;
  width: 100%;
  height: 100vh;
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
}

.test {
  color: goldenrod;
  background-color: #1b242f;
}

.splash {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: black; */
  height: 100vh;
}

.text--white {
  font-family: "Raleway", sans-serif;
  color: aliceblue;
}

.text--black {
  font-family: "Raleway", sans-serif;
  color: #444649!;
}

.splash__text {
  font-family: "Raleway", sans-serif;
  color: aliceblue;
  text-align: center;
  font-size: 3rem;
}

.splash__text--padding {
  padding-bottom: 30px;
}

.splash__text__span--pink {
  color: rgb(211, 91, 11);
}

block {
  display: block;
}

.splash__button {
  align-content: center;
  justify-content: center;
  display: flex;
  font-family: "Raleway", sans-serif;
  margin: auto;
  text-align: center;
  width: 230px;
  line-height: 70px;
  height: 70px;
  color: aliceblue;
  cursor: pointer;
  border: 2px solid aliceblue;
}

.splash__button__text {
  font-size: 16px;
}
.splash__button__arrow {
  padding-left: 8px;
}

.splash__button:hover {
  transition: 1.2s;
  background-color: rgb(211, 91, 11);
}

.splash__button:hover #arrow {
  transition: 1s;
  transform: rotate(90deg);
}

.navbar {
  width: 100%;
  height: 85px;
  z-index: 100;
  position: sticky;
  top: 0px;
  list-style-type: none;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  background-color: #1b242f;
}

.navbar__ul {
  display: flex;
  align-content: center;
  align-items: center;
}

.navbar__item {
  list-style-type: none;
  float: left;
}

.navbar__item__anchor {
  color: aliceblue;
  font-size: 25px;
  display: block;
  text-align: center;
  padding-right: 10px;
  padding-left: 18px;
  text-decoration: none;
}

.navbar__item__anchor:hover {
  transition: color 0.5s;
  color: goldenrod;
}

.navbar__section__icon-Box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.navbar__section__icon-Box > div {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  height: 60px;
}

.navbar__gitlab__icon {
  height: 80px;
}

.navbar__github__icon {
  height: 40px;
  padding: 5px;
  padding-left: 20px;
}

.navbar__linkedin__icon {
  height: 40px;
  padding-top: 8px;
  padding-left: 30px;
}

.icon__anchor {
  height: 100%;
}

.icons:hover {
  opacity: 0.5;
}

.about {
  width: 100%;
  flex-flow: column;
  justify-content: center;
  display: flex;
  align-content: center;
  height: 800px;
}

.about__box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.about__header {
  padding-top: 15%;
  align-content: center;
  height: 60px;
  font-size: 30pt;
  text-align: center;
  font-weight: bold;
}

.header__underline {
  background-color: #444649;
  color: #1b242f;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}
.about__container {
  padding: 80px 8% 3%;
  grid-template-areas:
    "a b c d"
    "e e f f";
  display: grid;
  height: 100%;
  grid-gap: 5%;
}

.about__container__item1 {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.item--a {
  grid-area: a;
}

.item--b {
  grid-area: b;
}

.item--c {
  grid-area: c;
}

.item--d {
  grid-area: d;
}

.item--e {
  display: flex;
  grid-area: e;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80%;
}

.item--f {
  grid-area: f;
}

.about__octagon__image {
  height: 100px;
}

.octagon__box {
  display: flex;
  height: 100%;
  background-image: url("./images/hexagon-xxl.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.octagon__box__image {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}

.about__container_item1__title {
  text-align: center;
  margin: auto;
  padding: 2px;
}

.about__container_item1__text {
  text-align: center;
  margin: auto;
  color: aliceblue;
}

.text__h3--black {
  font-size: 18pt;
  font-family: "Raleway-bold";
}

.mypic {
  height: 70%;
  width: 50%;
  border-radius: 50%;
}

.about__container_bio__title {
  width: 60%;
  text-align: center;
  margin: 2rem auto;
  padding: 2px;
}
.about__container_bio__paragraph {
  padding-top: 2%;
  width: 100%;
  text-align: center;
  margin: -1;
  padding: -1;
}

.projects {
  background-color: #f5f5f5;
  height: 100vh;
}

.projects__container {
  width: 100%;
  overflow: hidden;
  margin: 0.2em auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 30% 30% 30% 30%;
  grid-template-areas:
    "xeta h i xet"
    "xeta j k xet";
  padding-top: 5%;
  height: 60%;
  display: grid;
}

.projects__container__content__h3 {
  font-weight: bold;
  font-size: 16pt;
  color: black !important;
  text-align: center;
}
.projects__container__content__p {
  font-size: 12pt;
  color: black;
  text-align: center;
}

.item--h {
  overflow: hidden;
  object-fit: contain;
  height: 100%;
  grid-area: h;
  /* background-image: url(./images/memoryMatch.png); */
  background-size: cover;
  background-repeat: no-repeat;
}

.item--i {
  height: 100%;
  grid-area: i;
  /* background-image: url(./images/blog.png); */
  background-size: cover;
  background-repeat: no-repeat;
}

.item--j {
  height: 100%;
  grid-area: j;
}

.item--k {
  height: 100%;
  grid-area: k;
  /* background-image: url(./images/project-seed.png); */
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  flex-flow: column;
  display: flex;
  height: 90vh;
}

.contact__text {
  width: 60%;
  text-align: center;
  margin: 2rem auto;
  font-size: 18pt;
}

.submission-form {
  max-width: 500px;
  margin: 1rem auto;
  height: 50%;
  width: 50%;
  display: block;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  border: 3px solid black;
  background-color: black;
  width: 100%;
  height: 50px;
  z-index: 100;
  position: sticky;
  list-style-type: none;
  display: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}
.footer__linkedin__icon {
  height: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.footer__gitHub__icon {
  height: 30px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 6px;
}
.footer__gitLab__icon {
  height: 50px;
}

@media screen and (max-width: 760px) {
  .about__container {
    padding: 80px 8% 3%;
    grid-template-areas:
      "a b"
      "c d"
      "e e"
      "f f";
    display: grid;
    height: 100%;
    grid-gap: 5%;
  }

  .projects__container {
    width: 100%;
    overflow: hidden;
    margin: 0.2em auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 30% 30% 30%;
    grid-template-areas:
      "h i"
      "j k";
    padding-top: 5%;
    height: 60%;
    display: grid;
  }
  .about {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    display: flex;
    align-content: center;
    height: 100%;
  }

  .projects {
    background-color: #f5f5f5;
    height: 100%;
  }
  .navbar {
    display: none;
  }
  .contact__text {
    display: none;
  }
  .footer {
    display: flex;
    align-content: center;
  }
}